{% extends "base.html" %} {% block content %}
<h1 class="text-red">All Posts</h1>
<div class="row">
    <div class="col-md-12">
        <ul class="timeline">
    {% for obj in object_list %}

            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-green">
                    {{ obj.timestamp | timesince}} ago
                  </span>
            </li>
            <!-- /.timeline-label -->
            <li>
                <i class="fa fa-clock-o bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{ obj.timestamp}}</span>
                    <h3 class="timeline-header"><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> </h3>
                     <h4 class="timeline-header"><p>Author : {{ obj.user}}</p> </h4>
                    <div class="timeline-body"> Posted : 
                        {{ obj.content|linebreaks|truncatechars:140 }}
                    </div>
                    {% if obj.image %}
                    <img src='{{ obj.image.url }}' class='img-responsive' />
                    {% endif %}
                    <div class="timeline-footer">
                        <a href='{{ obj.get_absolute_url }}' class="btn btn-warning btn-Default">View</a>
                    </div>
                </div>
            </li>
<!--     {% cycle "" "</div><div class='row'>" %} 
 -->    
 {% endfor %}
         </ul>
    </div>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span> {% if object_list.has_next %}
    <a href="?page={{ object_list.next_page_number }}">next</a> {% endif %}
    </span>
</div>

</div>
{% endblock content %}
