{% extends "base.html" %} 

{% block head_title %}

{{instance.title}} | {{block.super}}

{% endblock head_title %}

{% block content %}
<div class="container">
	
</div>
<!-- /.col -->
<div class="col-sm-6 col-sm-offset-3">
    <!-- Box Comment -->
    <div class="box box-widget">
        <div class="box-header with-border">
            
                <span class="username"><h2>{{ instance.title }}</h2></span>
                <br>
                <span class="description">{{ instance.timestamp }}</span>
            <!-- /.user-block -->
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- post text -->
            <p>{{ instance.content|linebreaks }}</p>
        </div>
    </div>
    <!-- /.box -->
</div>
<!-- /.col -->	
</div>
{% endblock content %}
